// 这个文件是自动生成的，别改。

#ifndef __STATIC_SHADERS_HPP__
#define __STATIC_SHADERS_HPP__

#include <oglwrap/oglwrap.h>

namespace shaders {

namespace files {
{% for file in files %}
{% for ns in file.namespaces %}
namespace {{ns}} {
{% endfor %}
gl::ShaderSource& {{file.name}}();
{% for ns in file.namespaces | reverse %}
} // namespace {{ns}}
{% endfor %}
{% endfor %}
} // namespace files

namespace programs {
{% for program in programs %}
gl::Program& {{program.name}}();
{% endfor %}
} // namespace programs

} // namespace shaders

#endif // __STATIC_SHADERS_HPP__

